body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #304057;
    width: 100%;
    height: 100vh;
    perspective: 500px;
}
.cube-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all .5s ease;
}
.cube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(-25deg) rotateY(-45deg);
    transform-style: preserve-3d;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: all .5s ease;
}
.cube-content:hover .cube,
.cube-content:focus .cube {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(-25deg) rotateY(-45deg);
    transform-style: preserve-3d;
    width: 150px;
    height: 150px;
}
.cube-content:hover .cube .down,
.cube-content:focus .cube .down {
    box-shadow: 20px 20px 25px 15px #1d213b;
}
.cube > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #1e234045;
    /* border-radius: 2px; */
}
.front {
    animation: Alimardon 5s ease-out infinite;
    transform: translate3d(0, 0, 75px);
}
.back {
    animation: Alimardon 5s ease-out infinite;
    transform: translate3d(0, 0, -75px) rotateZ(-180deg) rotateX(180deg);
}
.right {
    animation: Alimardon 5s ease-out infinite;
    transform: translate3d(75px, 0, 0) rotateY(90deg);
}
.left {
    animation: Alimardon 5s ease-out infinite;
    transform: translate3d(-75px, 0, 0) rotateY(-90deg);
}
.up {
    transform: translate3d(0, -75px, 0) rotatex(90deg);
}
.down {
    background: rgba(0, 255, 102, 0.712);
    transform: translate3d(0, 75px, 0) rotatex(90deg);
    box-shadow: 0 0 15px 7px #1d213b;
    transition: all .5s ease;
}
@keyframes Alimardon {
    0% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 0%, #1e234045 0%);
    }
    5% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 5%, #1e234045 0%);
    }
    10% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 10%, #1e234045 0%);
    }
    15% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 15%, #1e234045 0%);
    }
    20% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 20%, #1e234045 0%);
    }
    25% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 25%, #1e234045 0%);
    }
    30% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 30%, #1e234045 0%);
    }
    35% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 35%, #1e234045 0%);
    }
    40% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 40%, #1e234045 0%);
    }
    45% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 45%, #1e234045 0%);
    }
    50% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 50%, #1e234045 0%);
    }
    55% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 55%, #1e234045 0%);
    }
    60% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 60%, #1e234045 0%);
    }
    65% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 65%, #1e234045 0%);
    }
    70% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 70%, #1e234045 0%);
    }
    75% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 75%, #1e234045 0%);
    }
    80% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 80%, #1e234045 0%);
    }
    85% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 85%, #1e234045 0%);
    }
    90% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 90%, #1e234045 0%);
    }
    95% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 95%, #1e234045 0%);
    }
    100% {
        background-image: linear-gradient(0deg, rgba(0, 255, 102, 0.712) 100%, #1e234045 0%);
    }
}